- if @jobs_today.any?
    %h2.h2 Heute
    %table.table
        %tbody
            = render partial: "partials/job_listing", collection: @jobs_today, cached: true

- if @jobs_week.any?
    %h2.h2 Diese Woche
    %table.table
        %tbody
            = render partial: "partials/job_listing", collection: @jobs_week, cached: true

- if @jobs_month.any?
    %h2.h2 Diesen Monat
    %table.table
        %tbody
            = render partial: "partials/job_listing", collection: @jobs_month, cached: true

- if @jobs.any?
    %h2.h2 Älter
    %table.table
        %tbody
            = render partial: "partials/job_listing", collection: @jobs, cached: true


