$page-width: 90vw;
$max-width: 65em;
$font-size: 0.8rem;

.backgroundWrapper {
    padding-top: 2em;
    background: #f9f9f9;
    background: -moz-linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
    background: -webkit-linear-gradient(180deg, #f9f9f9 0%,#ffffff 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#ffffff",GradientType=1);
    position: relative;
}
