$page-width: 90vw;
$max-width: 65em;
$font-size: 0.8rem;

.backgroundWrapper {
    padding-top: 2em;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#ffffff",GradientType=1);
    position: relative;

}
