*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(100% + 0.1vw);
  }

body {
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #282828;
}

.h1 {
    font-size: 2rem;
    &--intro {
        margin: 0.67em auto;
        font-weight: 900;
        max-width: 25em;
    }
}

.h2 {
    margin: 1.5em 0 0.5em 0;
        &--jobtitle {
            margin: 0;
            font-weight: 800;
            font-size: 1.1rem;
        }

        &--info {
            text-align: left;
            font-weight: 800;
            font-size: 1.5rem;
        }
}

p {
    font-size: calc(112% + 0.1vw);
}

a {
    text-decoration: none;
}