.field_with_errors:not(:first-child) {
    padding: 0.5em;
    background-color: #fec9cd;
    border: 1px solid #eb828a;
    border-radius: 5px;

    .message {
        display: inline-block;
        margin: 0;
        font-weight: 700;

        @media screen and (min-width: 65em) {
            margin-left: 2em;
        }
    }
  }



  