$page-width: 85vw;
$max-width: 65em;

.jobDescription {
    background-color: #ffffff;

    .wrapper {
        max-width: $max-width;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 65em) {
            flex-direction: row;
            width: $page-width;
            margin: 0 auto;
        }
    }

    &__copy {
        width: $page-width;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 9em;
        margin-bottom: 4em;

        ul {
            padding-left: 2em;
            li {
                margin-bottom: 1em;
            }
        }

        blockquote {
            margin: 0 0 0 0.3em;
            padding: 0 0 0 0.6em;
            border-left: 0.3em solid #ccc;
        }
    }

    &__sidebar {
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 0 8%;
        padding-top: 3em;
        padding-bottom: 4em;

        @media screen and (min-width: 65em) {
            position: -webkit-sticky;
            position: sticky;
            top: 4em;
            flex-basis: 30em;
            flex-grow: 1;
            min-width: 15em;
            max-width: 25em;
            max-height: 40em;
            padding: 1em 3em;
            margin: 6em 0;
            margin-top: 11em;
            margin-left: 4em;
            border-radius: 5px;
            -webkit-box-shadow: 0 7px 14px 0 rgba(59,65,94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
            -moz-box-shadow: 0 7px 14px 0 rgba(59,65,94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
            box-shadow: 0 7px 14px 0 rgba(59,65,94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, .07);
            
        }

        h2:first-child {
            margin-top: 0;
        }

        a {
            display: inline-block;
            width: auto;
            padding: 1em 1em;
            margin-top: 2em;
            border-radius: 5px;
            background-color: #01B39A;
            color: #21524C;
            border: 0px;
            font-weight: 700;
            font-size: calc(110% + 0.1vw);
            transition-duration: 200ms;
            text-align: center;

            @media screen and (min-width: 65em) {
                padding: 0.8em 0.5em;
            }
    
            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                -webkit-box-shadow: 0px 4px 10px 0px rgba(25, 54, 39, 0.4);
                -moz-box-shadow: 0px 4px 10px 0px rgba(25, 54, 39, 0.4);
                box-shadow: 0px 4px 10px 0px rgba(25, 54, 39, 0.4);
            }
    
            &:focus {
                outline: none;
            }
        }

        h3 {
            margin-top: 2em;
            margin-bottom: 0.5em;
        }

        p {
            margin-top: 0px;
        }
    }
}


