.keyvisual {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    &--mockup {
        top: 100%;
        animation: MoveUpDown 5s linear infinite;
        z-index: 2;

        @media screen and (min-width: 65em) {
            top: 15%;
            left: 45%;
            animation: Intro 5s linear infinite;
        }
        
        @keyframes MoveUpDown {
            0% {
                transform: translateY(-60%);
            }
            50% {
                transform: translateY(-70%);
            }
            100% {
                transform: translateY(-60%);
                }
            }

        @keyframes Intro {
            0% {
                transform: translateY(-5%);
            }
            50% {
                transform: translateY(-10%);
            }
            100% {
                transform: translateY(-5%);
                }
            }

        
        img {
            width: 90vw;

            @media screen and (min-width: 30em) {
                width: 65vw;
            }

            @media screen and (min-width: 50em) {
                width: 45vw;
            }

            @media screen and (min-width: 100em) {
                width: 35vw;
            }
        }
    }

    &--shadow {
        top: 100%;
        animation: scale 5s linear infinite;
        z-index: 1;

        @media screen and (min-width: 65em) {
            top: 28%;
            left: 44%;
            animation: scaleIntro 5s linear infinite;
        }
        
        @keyframes scale {
            0% {
                transform: scale(1) translateY(-45%);
            }
            50% {
                transform: scale(0.9) translateY(-50%);
            }
            100% {
                transform: scale(1) translateY(-45%);
                }
            }

        @keyframes scaleIntro {
            0% {
                transform: scale(1) translateY(-6%);
            }
            50% {
                transform: scale(0.9) translateY(-5%);
            }
            100% {
                transform: scale(1) translateY(-6%);
                }
            }

        img {
            width: 90vw;

            @media screen and (min-width: 30em) {
                width: 65vw;
            }

            @media screen and (min-width: 50em) {
                width: 45vw;
            }

            @media screen and (min-width: 100em) {
                width: 35vw;
            }
        }
    }
}    


