/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$site-padding: 0px 10%;

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}

#page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header, #footer {
    flex-shrink: 0;
}

#header {
    padding: $site-padding;
    height: 50px;
    background-color: black;
}

#main {
    padding: $site-padding;
    flex-grow: 1;
    background-color: cornflowerblue;
    #hero {
        background-color: beige;
        height: 80px;
    }
    #categories {
        background-color: aqua;
        height: 100px;
        .grid-container {
            height: 100%;
            padding: 0px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            .item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
                background-color: brown;
            }
        }
    }
    #search {}
    #job-listings {}
    #siteinfo {}
}

#footer {
    padding: $site-padding;
    height: 100px;
    background-color: antiquewhite;
    .grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 50% 1fr 1fr 1fr;
        .item-1, .item-2, .item-3, .item-4 {
            background-color: yellowgreen;
        }
    }
}