%section.info
    .windowDummy
    .info__grid
        .info__grid__item
            = image_tag 'geo-job-suche', alt: '', class: 'image.image--first'
        .info__grid__item
            %h2.h2.h2--info Über Terrajobs
            %p
                terrajobs.de ist die zentrale Anlaufstelle für alle Arbeitssuchenden 
                und Arbeitgeber aus der Geo-, und Umweltbranche. 
                Hier finden Sie unter anderem Jobs in den Bereichen Geographie, 
                Geoinformatik, Geologie, Fernerkundung oder Geodäsie. 
                Die Geoinformation zählt zu einem der zukunftsweisendsten Arbeitsmärkten 
                der Welt und vereint unterschiedlichste Disziplinen. 
                Aus diesem Grund ist der Arbeitsmarkt immernoch unübersichtlich. 
                Wir von Terra Jobs wollen dem entgegenwirken und bilden eine 
                moderne Community für die Geobranche.
        .info__grid__item
            = image_tag 'geo-talent', alt: '', class: 'image.image--second'
        .info__grid__item
            %h2.h2.h2--info Für Arbeitgeber
            %p
                Wir haben unsere Platform so gestaltet, 
                dass sie vor allem auch für Arbeitgeber möglichst 
                einfach und sicher ist. Keine komplizierte Preisgestaltung 
                und keine unnötigen E-Mails oder Logindaten sind nötig. 
                Bezahlen Sie schnell und sicher mit PayPal oder Kreditkarte und 
                erstellen Sie Ihr Jobangebot direkt mit Hilfe des übersichtlichen 
                Formulars. Sollten Sie weitere Reichweite wünschen, 
                buchen Sie einfach eine zusätzliche Facebook Ad und wir schalten für 
                Sie targetierte Werbung im größten sozialen Netzwerk der Welt. 
                Damit Sie wieder Zeit für die wichtigen Dinge haben.