%section.info
    .windowDummy
    .info__grid
        .info__grid__item
            = image_tag 'geo-job-suche', alt: 'geo-job-suche', class: 'image.image--first'
        .info__grid__item
            %h2.h2.h2--info Über Terrajobs
            %p.p
                terrajobs.de ist die zentrale Anlaufstelle für alle Arbeitssuchenden und Arbeitgeber 
                aus der Geo-, und Umweltbranche. Hier finden Sie unter anderem Jobs in den Bereichen 
                %strong Geographie, 
                =link_to "Geoinformatik,", "https://terrajobs.de/blog/geoinformatik-studium/" 
                %strong Geologie, 
                %strong Fernerkundung 
                oder 
                %strong Geodäsie. 
                Die Geoinformation zählt zu einem der 
                =link_to "zukunftsweisendsten Arbeitsmärkten", "https://www.geospatialworld.net/news/geobuiz-2018-report-now-available/", target: "_blank", rel: "noopener"
                der Welt und vereint 
                unterschiedlichste Disziplinen. Aus diesem Grund ist der Arbeitsmarkt immer noch unübersichtlich 
                und erschwert einen vollumfänglichen Überblick.  Terrajobs wurde gegründet um dem 
                entgegenzuwirken und bildet eine moderne Community für die Geobranche. 
        .info__grid__item
            = image_tag 'geo-talent', alt: 'geo-mitarbeiter-suche', class: 'image.image--second'
        .info__grid__item
            %h2.h2.h2--info Für Arbeitgeber
            %p.p
                Wir haben unsere Plattform so gestaltet, 
                dass sie vor allem auch für Arbeitgeber möglichst 
                einfach und sicher ist. Keine komplizierte 
                Preisgestaltung und keine unnötigen E-Mails oder 
                Logindaten. Erstellen Sie Ihr Jobangebot eigenständig 
                mit Hilfe des übersichtlichen Formulars und bezahlen 
                Sie schnell und sicher mit Kreditkarte. 
                Sollten Sie mehr Aufmerksamkeit generieren wollen, 
                können Sie zusätzlich weitere Leistungen, 
                wie das Hervorheben Ihres Listings oder eine 
                Verbreitung über unseren Newsletter, buchen. 
                Bei weiteren Fragen, 
                können Sie uns gerne jederzeit
                =mail_to "contact@terrajobs.de", "kontaktieren." 