%section.intro
    .wrapper
        %h1.h1.h1--intro 
            Finde den passenden Job. 
            %br/
            In Geo- und Umweltbranchen.
        %p.p.p--intro 
            Auf Terra Jobs findest du u.a. Stellenangebote im Bereich 
            %strong
                Geographie, 
            %strong
                GIS, 
            %strong
                Vermessung 
            oder auch 
            %strong= link_to "Green-Jobs.", "https://terrajobs.de/blog/was-sind-green-jobs/"
        = link_to "Jobs durchsuchen >", {anchor: "jobs"}, {class: "button"}

        .keyvisual.keyvisual--mockup
            = image_tag 'geo-karriere-mockup', alt: 'geo-karriere-berg-pfad'
        .keyvisual.keyvisual--shadow
            = image_tag 'shadow', alt: 'mockup-schatten'