= title "Was sind Geojobs?"
= meta_tag :description, "Geojobs bieten vielfältige Möglichkeiten um sich mit dem Planeten Erde zu beschäftigen und stellen einen herausfordernden und zukunftsweisenden Arbeitsmarkt dar."

= render partial: "partials/header"

.intro.intro--page
    .wrapper.wrapper--page
        %h1.h1.h1--page Was sind Geojobs? 
        %p.p
            Ein Geojob ist ein Job, welcher hauptsächlich in Umweltbezogenen 
            Branchen zuhause ist. Er kann viele Bereiche umfassen, wie 
            z.B. die 
            %strong Geoinformatik
            , die 
            %strong Geographie
            , die 
            %strong Vermessung 
            oder auch 
            %strong Software Programmierung.
            Es werden zumeist räumliche 
            Fragestellungen anhand von Daten analysiert, gelöst 
            und dargestellt. 
            %br/
            %br/
            Geojobs bieten vielfältige Möglichkeiten um sich mit dem Planeten 
            Erde zu beschäftigen und stellen einen herausfordernden und 
            zukunftsweisenden Arbeitsmarkt dar.
            %br/
            %br/
            Mehr dazu erfährst du auch auf unserem 
            =link_to "Blog.", "https://terrajobs.de/blog/" 
        %p.p.p--page
           
= render partial: "partials/footer"